.textCard {
    height: 22rem;
    width: 20rem;
    background-color: #ffde00; 
    border-radius: 8px;
    padding: 5rem;
}

.textCard >h1 {
    font-size: 1.5em;
    padding: 0.5rem;
    color: #ff0000;
}

.textCard >p {
    font-size: 1em;
    color: #ff0000;
}


